<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item"><a href="/">Điểm Danh</a></li>
      <li class="main-header__item"><a href="/">Thông tin cá nhân</a></li>
      <li class="main-header__item"><a href="/">Tra cứu thông tin</a></li>
      <li class="main-header__item"><a href="/">Thông tin Covid</a></li>
    </ul>
  </nav>
</header>