<%- include('./includes/head.ejs') %>
</head>

<body>
    <%- include('./includes/navigation.ejs') %>
    <main>
        <h1>Không tìm thấy trang mà bạn yêu cầu !</h1>
    </main>
    <%- include('./includes/end.ejs') %>