<%- include('./includes/head.ejs') %>
</head>

<body>
  <%- include('./includes/navigation.ejs') %>
  <main>
    <h2>Đã xảy ra một số vấn đề về trang website <br>chúng tôi đang cố gắng khắc phục.<br>Vui lòng quay
      lại sau.</h2>
  </main>
  <%- include('./includes/end.ejs') %>