<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="./css/form.css">
</head>

<body>
  <%- include('./includes/navigation.ejs') %>
  <main class="centered">
    <div class="check-out">
      <label for="totaltime">Số giờ đã làm việc</label>
      <input type="text" value="11" id="totaltime" name="totaltime" disabled>
    </div>
    <hr>
    <ul class="check-out__list">
      <li>list danh sách làm việc tròn ngày</li>
    </ul>
  </main>
  <%- include('./includes/end.ejs') %>