<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thông tin nhân viên</title>
</head>

<body>
  <header>
    <div>Navigation</div>
  </header>
  <main>
    <form action="/index" method="post">
      <div>
        <h1>Thông tin check in/out</h1>
      </div>
      <div>
        <label for="name">Tên nhân viên</label>
        <input type="text">
      </div>
      <div>
        <label for="workplace">Nơi làm việc</label>
        <select name="workplace" id="workplace">
          <option value="">Chọn nơi làm việc</option>
          <option value="home">Nhà</option>
          <option value="company">Công Ty</option>
          <option value="customer">Khách Hàng</option>
        </select>
      </div>
    </form>
  </main>
</body>

</html>